<body>
  <div class="sidebar">
    <div class="test">
      <ul>
        <li><a routerLink="/dashboard" style="color: white; text-decoration: none"><i class="fas fa-tachometer-alt" style="color: white"></i> Dashboard</a></li>
        <li style="background-color: #3e8e41;"><a routerLink="/cart" style="color: white; text-decoration: none"><i class="fas fa-credit-card" style="color: white"></i> Bank Card</a></li>
        <li><a routerLink="/facture" style="color: white; text-decoration: none"><i class="fas fa-file-invoice" style="color: white"></i> Factures</a></li>
        <li><a routerLink="/currency" style="color: white; text-decoration: none"><i class="fas fa-coins"></i> Converter</a></li>
        <li><i class="fas fa-chart-bar" style="color: white"></i> Analytics</li>
        <li><i class="fas fa-bookmark" style="color: white"></i> Bookmarks</li>
        <li><i class="fas fa-cog" style="color: white"></i> Settings</li>
        <li><i class="fas fa-user" style="color: white"></i> Profile</li>
        <li><i class="fas fa-sign-out-alt" style="color: white"></i> Logout</li>
      </ul>
    </div>
  </div>

<!--  <div class="card-container">-->
<!--    <div class="card">-->
<!--      <img class="chip" src="/assets/images/chip.png"/>-->
<!--      <img class="contactless" src="/assets/images/wifi-signal.png"/>-->
<!--      <img class="visa"src="/assets/images/visa.png"/>-->
<!--      <p class="card-number">0000 0000 0000 0000</p>-->
<!--      <div class="arrow"></div>-->
<!--      <p class="card-name">M John Doe</p>-->
<!--      <p class="card-expire">Expire 05/23</p>-->
<!--      <p class="bank-name">Bank 1337</p>-->
<!--    </div>-->
<!--  </div>-->
  <div class="card-container-wrapper">
    <div class="card-container blue">
      <div class="card">
        <img class="chip" src="/assets/images/chip.png"/>
        <img class="contactless" src="/assets/images/wifi-signal.png"/>
        <img class="visa"src="/assets/images/visa.png"/>
        <p class="card-number">0000 0000 0000 0000</p>
        <div class="arrow"></div>
        <p class="card-name">M John Doe</p>
        <p class="card-expire">Expire 05/23</p>
        <p class="bank-name">Bank 1337</p>
      </div>
    </div>
    <div class="card-container gray">
      <div class="card">
        <img class="chip" src="/assets/images/chip.png"/>
        <img class="contactless" src="/assets/images/wifi-signal.png"/>
        <img class="visa"src="/assets/images/visa.png"/>
        <p class="card-number">0000 0000 0000 0000</p>
        <div class="arrow"></div>
        <p class="card-name">M John Doe</p>
        <p class="card-expire">Expire 05/23</p>
        <p class="bank-name">Bank 1337</p>
      </div>
    </div>
    <div class="card-container gold">
      <div class="card">
        <img class="chip" src="/assets/images/chip.png"/>
        <img class="contactless" src="/assets/images/wifi-signal.png"/>
        <img class="visa"src="/assets/images/visa.png"/>
        <p class="card-number">0000 0000 0000 0000</p>
        <div class="arrow"></div>
        <p class="card-name">M John Doe</p>
        <p class="card-expire">Expire 05/23</p>
        <p class="bank-name">Bank 1337</p>
      </div>
    </div>
  </div>
</body>
